.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
h2,p{
    margin-top: 10px;
    
}
#okButton{
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    margin-left: 71px;
}
.popup-content {
    background-color: #fff;
    padding: 43px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

.flex {
display: flex;
align-items: center;
}

.container {
padding: 0 15px;
min-height: 100vh;
justify-content: center;

background-color: darkgrey;
}

.facebook-page {
justify-content: space-between;
max-width: 1000px;
width: 100%;
}

.facebook-page .text {
margin-bottom: 90px;
}

.facebook-page h1 {
color: #ffffff;
font-size: 4rem;
margin-bottom: 10px;
}

.facebook-page p {
font-size: 18px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
white-space: nowrap;
margin-left: 20px;
color: #fff;
}

form {
display: flex;
flex-direction: column;
background: #fff;
border-radius: 8px;
padding: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
0 8px 16px rgba(0, 0, 0, 0.1);
max-width: 498px;
width: 100%;
}
header{
font-size: 1.5rem;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #181616;
font-weight: 500;
text-align: center;

border-radius: 20px;
margin-bottom: 20px;

}
h3{
font-size: 15px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #676464b6;
font-weight: 500;
text-align: center;

border-radius: 20px;
margin-bottom: 2px;

}

form input {
height: 55px;
width: 100%;
border: 1px solid #ccc;
border-radius: 6px;
margin-bottom: 15px;
font-size: 1rem;
padding: 0 14px;
}

form input:focus {
outline: none;
border-color: #1877f2;
}

::placeholder {
color: #777;
font-size: 1.063rem;
}

.link {
display: flex;
flex-direction: column;
text-align: center;
gap: 15px;
}

.link .register {
border: none;
outline: none;
cursor: pointer;
background: #1877f2;
padding: 15px 0;
border-radius: 6px;
color: #fff;
font-size: 1.25rem;
font-weight: 600;
transition: 0.2s ease;
}

.link .login:hover {
background: #0d65d9;
}

form a {
text-decoration: none;
}

.link .forgot {
color: #1877f2;
font-size: 0.875rem;
}

.link .forgot:hover {
text-decoration: underline;
}

hr {
border: none;
height: 1px;
background-color: #ccc;
margin-bottom: 20px;
margin-top: 20px;
}

.button {
margin-top: 25px;
text-align: center;
margin-bottom: 20px;
}

.button a {
padding: 10px 15px;
background: #42b72a;
border-radius: 6px;
color: #fff;
font-size: 1.063rem;
font-weight: 600;
transition: 0.2s ease;
}

.button a:hover {
background: #3ba626;
}

@media (max-width: 900px) {
.facebook-page {
flex-direction: column;
text-align: center;
}

.facebook-page .text {
margin-bottom: 30px;
}
}

@media (max-width: 460px) {
.facebook-page h1 {
font-size: 3.5rem;
}

.facebook-page p {
font-size: 1.3rem;
}

form {
padding: 15px;
}
}