<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toggle Button</title>
    <link rel="stylesheet" href="CSS/chatbot.css">
    
        
</head>
<body>
    <main>
        <div class="chatbot" id="chatbot" th:fragment="chatbot">
            <div class="botbody">
                <div class="botcontent">
                    <div class="card">
                        <div id="botheader">
                            <h1>Chatter box!</h1>
                            <button class="send" onclick="reset()">
                                <div class="circle refresh"><i class="zmdi zmdi-refresh-sync"
                                        style="font-size: 1.5rem; margin-left: 0.2rem;"></i></div>
                            </button>
                        </div>
                        <hr>
                        <div id="message-section">
                            <!-- Chat messages will be displayed here -->
                            <div class="message" id="bot"><span id="bot-response">Hello.. I'm listening! Go on..</span></div>
                        </div>
                        <div class="quickbtns">
                            <button tabindex="2" class="quickmessage" data-message="Check USN 📝"
                                onclick="send(this.getAttribute('data-message'))">Check USN 📝</button>
                            <button tabindex="1" class="quickmessage" data-message="Report a Bug 🐞"
                                onclick="send(this.getAttribute('data-message'))">Report a Bug 🐞</button>
                        </div>
                        <div id="input-section">
                            <input id="user-input" type="text" placeholder="Type a message..." autocomplete="on"
                                autofocus="autofocus" tabindex="3" />
                            <button type="submit" class="send sendmessage" onclick="sendMessage()" tabindex="3">
                                <div class="circle"><i class="zmdi zmdi-mail-send"
                                        style="font-size: 1.5rem; margin-left: 0.2rem;"></i></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function reset() {
                    document.getElementById("message-section").innerHTML = '<div class="message" id="bot"><span id="bot-response">Hello.. I\'m listening! Go on..</span></div>';
                }
        
                function send(message) {
                    var userInput = document.getElementById("user-input");
                    userInput.value = message;
                    var sendButton = document.querySelector('.send[type="submit"]');
                    sendButton.click();
                }
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
            <script src="JS/chatbot.js"></script>
        </div>
        <!-- Chatbot Icon -->
        <div id="chatbotIcon">
            <img src="Image/chatbot.jpg" alt="Chatbot Icon" width="50" height="50" onclick="toggleChatbot()">
        </div>
    </main>
    <script>
        function toggleChatbot() {
            const chatbot = document.getElementById('chatbot');
            chatbot.classList.toggle('open');
        }
    </script>
</body>
</html>
